
.maindiv{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    justify-items: center ;
    align-items: center;
    }
    
    
    
    
.innerdiv{
    width:100px ;
    height: 100px;
    background-color: rgb(104, 166, 236);
    
    }   